@media screen and (max-width: 1068px){
    .post{
        max-width: 80rem;
    }
    .img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .post{
        padding: 2.5rem;
    }
}

@media screen and (max-width: 768px){
    .post{
        padding: 2.5rem;
        flex-direction: column;
    }
    .img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}